<h1>Listing Newsletters</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @newsletters.each do |newsletter| %>
      <tr>
        <td><%= newsletter.subject %></td>
        <td><%= newsletter.body %></td>
        <td><%= link_to 'Show', newsletter, :class => "btn btn-default btn-xs" %></td>
        <td><%= link_to 'Edit', edit_newsletter_path(newsletter), :class => "btn btn-success btn-xs" %></td>
        <td><%= link_to 'Destroy', newsletter, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newsletter', new_newsletter_path, :class => "btn btn-success" %>
