<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @newsletter.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @newsletter.body %>
</p>

<%= link_to 'Edit', edit_newsletter_path(@newsletter), :class => "btn btn-success" %> 
<%= link_to 'Back', newsletters_path, :class => "btn btn-default" %>
